@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstone');

$font-color-default: white;

$color-yellow-1: yellow;
$color-yellow-2: rgb(83, 83, 2);

$background-color: rgb(8, 2, 6);
$nav-background-color: rgb(29, 4, 29);

body{
    background: $background-color;
    margin: 0;
    box-sizing: border-box;
    color: $font-color-default;
    text-align: center;
    font-size: 1.5em;
}

header{
    background: $nav-background-color;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    h1{
        margin: 0;
        width: 40%;
        font-family: 'Rubik Gemstones', cursive;
        color: $color-yellow-1;
    }
    nav{
        width: 50%;
        margin: 0 5%;
    }
    ul{
        width: 100%;
        margin: 10px 0; 
        display: flex;
        justify-content: space-around;
        list-style: none;


        a{
            text-decoration: none;
            color: $font-color-default;
        }
    }
}

.field-container{ 
    margin: 20px 0;
    input{height: 2em;}
}

button{
    background: linear-gradient($color-yellow-1, $color-yellow-2);
    padding:5px;
    margin-left: 5px;
    border-radius: 8px;
    color: $nav-background-color;
    font-size: 1em;
    font-weight: bold;
}

button:hover{background: linear-gradient($color-yellow-2, $color-yellow-1);}

#photo-container{

    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div{
        display: flex;
        justify-content: center;
        width:20%;
        height: 20%;
        margin: 10px;
        height: 100%;

        img{
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 320px) {
    header{
        flex-direction: column;
        h1{
            width: 100%;
            font-size: 1.75em;
        }
        nav{width: 100%; margin:0;}
        ul{display: block; padding:0;}
        li{margin: 5px 0;}
    }

    .grid div{width: 100%;}
}